<!-- *************************************************************************

Author: Marisa Tjoe

welcome/index.html.erb
 - Root Page
 - First page

 Acknowledgements:
 - 


************************************************************************** -->

<div class="main">

	<!-- First Page -->
	<section class="page-one">

		<!-- Carousel - Contains featured events/societies, taken from Bootstrap -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     		<ol class="carousel-indicators">
        		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
      		</ol>
      		<div class="carousel-inner">
        		<div class="item active">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"First Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/event-images/anime-umelb.jpg', alt:"Second Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"Third Slide") %>
        		</div>
      		</div>
      		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        		<%= image_tag 'left-arrow.gif' %>
      		</a>
      		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      			<%= image_tag 'right-arrow.gif' %>
      		</a>
      	</div>
      	<!-- END: Carousel -->

        </section>
    <!-- END: First Page -->
	
	<!-- Page Two - Society/Events Contents -->
  	<section class="page-two">
		<div id="main-content">

			<!-- Sliding Sidebar -->
			<div id="sidebar">
				<ul style="list-style:none">
					<li><p class="side-h1">Account</p></li>
					<ul style="list-style:none">
						<li><a class="side-h2" href="#">My Societies</a></li>
						<li><a class="side-h2" href="#">Adiministered</a></li>
						<li><a class="side-h2" href="#">My Upcoming Events</a></li>
					</ul></br>
					<li><p class="side-h1">Browse Societies</p></li>
					<ul style="list-style:none">
						<li><a class="side-h2" href="#">All Societies</a></li>
						<li><a class="side-h2" href="#">By Categories</a></li>
						<li><a class="side-h2" href="#">By University</a></li>
					</ul></br>
					<li><p class="side-h1">Browse Events</p></li>
					<ul style="list-style:none">
						<li><a class="side-h2" href="#">Upcoming Events</a></li>
						<li><a class="side-h2" href="#">Past Events</a></li>
						<li><a class="side-h2" href="#">By Categories</a></li>
						<li><a class="side-h2" href="#">By University</a></li>
					</ul></br>
				</ul>
			</div>
			<div id="open-sidebar-btn">
				<%= image_tag 'right.png' %>
			</div>
			<!-- END: Sliding Sidebar -->

			<!-- Grid Contents - Contains grids of societies/events -->
			<div id="grid-content">
				<div id="grid-hdr">Societies - ALL</div>
				<div id="grid-list-cont">
					<div id="grid-list">
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/tedx-umelb.png' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>TedX Unimelb</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
									
								</div>
							</div>
						</div>
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/envi.jpg' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>Environment Students Society</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
								</div>
							</div>
						</div>
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/bookclub-umelb.jpg' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>Book Club Unimelb</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
								</div>
							</div>
						</div>
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/japaneseclub-umelb.png' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>Japanese Club</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
								</div>
							</div>
						</div>
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/envi.jpg' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>Environment Students Society</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
								</div>
							</div>
						</div>
						<div class="grid-entry">
							<div class="grid-entry-img">
								<%= image_tag '/assets/society-images/basketball-umelb.jpg' %>
							</div>
							<div class="grid-entry-label">
								<div class="grid-entry-label-hdr">
									<h2>Basketball Club Unimelb</h2>
									<p>University of Melbourne</p><br>
								</div>
								<div class="grid-entry-label-content">
									<p> jakdscna jksdnck jansdcjkna sdjkcnakjsd ncjkasdnc ljasndcjkns dcjknas dlcjna kjdsncak jsdncjaksndclakj dsnclkjasdn cljkasdn cljkasdn clkjasndckljasndcjksad ncjknsadcn</p>
								</div>
								<div class="grid-entry-label-btns">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END: Grid Contents -->
		</div>
	</section>
	<!-- END: Page Two -->
</div>