<!-- *************************************************************************

Author: Marisa Tjoe

welcome/index.html.erb
 - Root Page
 - First page

 Acknowledgements:
 - 


************************************************************************** -->

<div class="main">

	<!-- First Page -->
	<section class="page-one">

		<!-- Carousel - Contains featured events/societies, taken from Bootstrap -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     		<ol class="carousel-indicators">
        		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
      		</ol>

      		
      		<div class="carousel-inner">
        		<div class="item active">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"First Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/event-images/anime-umelb.jpg', alt:"Second Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"Third Slide") %>
        		</div>
      		</div>
      		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        		<%= image_tag 'left-arrow.gif' %>
      		</a>
      		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      			<%= image_tag 'right-arrow.gif' %>
      		</a>
      	</div>
      	<!-- END: Carousel -->

        </section>
    <!-- END: First Page -->
	
	<!-- Page Two - Society/Events Contents -->
  	<section class="page-two">
		<div id="main-content">

			<!-- Sliding Sidebar -->
			<div id="sidebar">
				<ul style="list-style:none">
					<% if user_signed_in? %>
						<li class="side-h1"><p>Account</p></li>
						<ul style="list-style:none">
							<li class="side-h2"><%= link_to("Administered Societies", :state => "adminSoc") %></li>
							<li class="side-h2"><%= link_to("Followed Societies", :state => "followedSoc") %></li>
							<li class="side-h2"><%= link_to("Events of Followed Societies", :state => "eventsOfFollowedSoc") %></li>
							<li class="side-h2"><%= link_to("Followed Events", :state => "followedEvent") %></li>
						</ul>
					<% end %>
					<li class="side-h1"><p>Browse Societies</p></li>
					<ul style="list-style:none">
						<li class="side-h2 active"><%= link_to("All Societies", :state => "allSoc") %></li>
						<li class="side-h2"><%= link_to("By Category", :state => "socByCategory") %></li>
						<li class="side-h2"><%= link_to("By University", :state => "socByUniversity") %></li>
					</ul>
					<li class="side-h1"><p>Browse Events</p></li>
					<ul style="list-style:none">
						<li class="side-h2"><%= link_to("Upcoming Events", :state => "allUpcomingEvents") %></li>
						<li class="side-h2"><%= link_to("Past Events", :state => "allPastEvents") %></li>
						<li class="side-h2"><%= link_to("By Category", :state => "eventByCategory") %></li>
						<li class="side-h2"><%= link_to("By University", :state => "eventByUniversity") %></li>
					</ul></br>
				</ul>
			</div>
			<div id="open-sidebar-btn">
				<%= image_tag 'right.png' %>
			</div>
			<!-- END: Sliding Sidebar -->

			<!-- Grid Contents - Contains grids of societies/events -->
			<div id="grid-content">
				<div id="grid-list-cont">
					<div id="grid-list">

						<div id="grid-hdr"><%= @header %></div>
						

						<% if !@societies.nil? %>
							<% if @societies.empty? %>
								<p>No societies in this category.</p>
							<% else %>
								<% @societies.each do |s| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag(s.logo) %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= s.name %>
													<% if !(SocietyFollower.find_by(user_id: current_user.id, society_id: s.id)).nil? %>
														<span class="glyphicon glyphicon-ok" style="color:#2B804F"></span>
													<% end %>
												</h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<%= (s.short_description).html_safe %>
											</div>
											<div class="grid-entry-label-btns">
												<% if (SocietyFollower.find_by(user_id: current_user.id, society_id: s.id)).nil? %>
													<%= link_to({controller: "users", action: 'followSociety', :societyId => s.id}) do %>
														<span class="glyphicon glyphicon-star">Follow</span>
													<% end %>
												<% else %>
													<%= link_to({controller: "users", action: 'unfollowSociety', :societyId => s.id}) do %>
														<span class="glyphicon glyphicon-star-empty">Unfollow</span>
													<% end %>
												<% end %>
												<%= link_to("Go To Page", {controller: 'societies', action: 'show', id: s.id}) %>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
						
						<% if !@pastEvents.nil? %>
							<% if @pastEvents.empty? %>
								<p>No events in this category.</p>
							<% else %>
								<% @pastEvents.each do |s| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag s.logo %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= s.name %></h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<%= s.short_description %>
											</div>
											<div class="grid-entry-label-btns">
												<%= link_to({controller: "users", action: 'followSociety'}, :societyId => s.id) do %>
													<span class="glyphicon glyphicon-star">Follow</span>
												<% end %>
												<%= link_to("Go To Page", {controller: 'events', action: 'show', id: s.id}) %>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>

						<% if !@upcomingEvents.nil? %>
							<% if @upcomingEvents.empty? %>
								<p>No events in this category.</p>
							<% else %>
								<% @upcomingEvents.each do |s| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag s.logo %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= s.name %></h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<%= s.short_description %>
											</div>
											<div class="grid-entry-label-btns">
												<%= link_to({controller: "users", action: 'followSociety'}, :societyId => s.id) do %>
													<span class="glyphicon glyphicon-star">Follow</span>
												<% end %>

												<%= link_to("Go To Page", {controller: 'events', action: 'show', id: s.id}) %>
											</div>
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>

						<% if !@categories.nil? %>
							<% @categories.each do |cat| %>
								<%= link_to cat.name,{ :state => params[:state], :catId => cat.id }, class: "category-entry" %>
							<% end %>
						<% end %>

						<% if !@universities.nil? %>
							<% @universities.each do |uni| %>
								<%= link_to({ :state => params[:state], :uniId => uni.id }, class: "university-entry") do %>
									<% image_tag uni.logo %>
								<% end %>
							<% end %>
						<% end %>

					</div>
				</div>
			</div>
			<!-- END: Grid Contents -->
		</div>
	</section>
	<!-- END: Page Two -->
</div>

