<!-- *************************************************************************

Author: Marisa Tjoe

welcome/index.html.erb
 - Root Page
 - First page

 Acknowledgements:
 - 


************************************************************************** -->

<script type="text/javascript" href="/assets/onepage-scroll.js"></script>

<div class="main-page">

	<!-- First Page -->
	<section class="page-one">

		<!-- Carousel - Contains featured events/societies, taken from Bootstrap -->
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     		<ol class="carousel-indicators">
        		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
      		</ol>

      		
      		<div class="carousel-inner">
        		<div class="item active">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"First Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/event-images/anime-umelb.jpg', alt:"Second Slide") %>
        		</div>
        		<div class="item">
          			<%= image_tag('/assets/society-images/robotics_club.jpg', alt:"Third Slide") %>
        		</div>
      		</div>
      		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        		<%= image_tag 'left-arrow.gif' %>
      		</a>
      		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      			<%= image_tag 'right-arrow.gif' %>
      		</a>
      	</div>
      	<!-- END: Carousel -->

        </section>
    <!-- END: First Page -->
	
	<!-- Page Two - Society/Events Contents -->
  	<section class="page-two">
		<div id="main-content">

			<!-- Sliding Sidebar -->
			<div id="sidebar">
				<ul style="list-style:none">
					<% if user_signed_in? %>
						<li class="side-h2"><%= link_to("Announcements", :state => "announcements") %></li>
						<li class="side-h2"><%= link_to("Invitations", :state => "invitations") %></li>
						<li class="side-h1"><%= link_to("My Account", {controller: 'users', action:'show', :id => current_user.id}) %></li>
						<ul style="list-style:none">
							<li class="side-h2"><%= link_to("My Networks", :state => "myNetworks") %></li>
							<li class="side-h2"><%= link_to("Administered Societies", :state => "adminSoc") %></li>
							<li class="side-h2"><%= link_to("Followed Societies", :state => "followedSoc") %></li>
							<li class="side-h2"><%= link_to("Events of Followed Societies", :state => "eventsOfFollowedSoc") %></li>
							<li class="side-h2"><%= link_to("Followed Events", :state => "followedEvent") %></li>
						</ul>
					<% end %>
					<li class="side-h1"><p>Browse Societies</p></li>
					<ul style="list-style:none">
						<li class="side-h2 active"><%= link_to("All Societies", :state => "allSoc") %></li>
						<li class="side-h2"><%= link_to("By Category", :state => "socByCategory") %></li>
						<li class="side-h2"><%= link_to("By University", :state => "socByUniversity") %></li>
					</ul>
					<li class="side-h1"><p>Browse Events</p></li>
					<ul style="list-style:none">
						<li class="side-h2"><%= link_to("Upcoming Events", :state => "allUpcomingEvents") %></li>
						<li class="side-h2"><%= link_to("Past Events", :state => "allPastEvents") %></li>
						<li class="side-h2"><%= link_to("By Category", :state => "eventByCategory") %></li>
						<li class="side-h2"><%= link_to("By University", :state => "eventByUniversity") %></li>
					</ul></br>
				</ul>
			</div>
			<div id="open-sidebar-btn">
				<%= image_tag 'right.png' %>
			</div>
			<!-- END: Sliding Sidebar -->

			<!-- Grid Contents - Contains grids of societies/events -->
			<div id="grid-content">
				<div id="grid-list-cont">
					<div id="grid-list">
						<div id="grid-hdr"><%= @header %></div>

						<!-- LISTING ANNOUNCEMENTS-->
						<% if !@announcements.nil? %>
							<% if @announcements.empty? %>
								<p>You have no announcements</p>
							<% else %>
								<% @announcements.each do |a| %>
									<div class="announce-entry-wrapper">
										<% if (a.allSoc) != "" %>
											<% target = "All Societies" %>
										<% elsif (a.university_id) != "" %>
											<% target = "Admins of #{University.find_by(id: a.university_id)}" %>
										<% else %>
											<% target = "Followers of #{Society.find_by(id: a.society_id).name}" %>
										<% end %>

										<% user = (User.find_by(id: a.user_id)) %>
										<% if user.nil? %>
											<% announcee = "System" %>
										<% else %>
											<% announcee = "#{user.first_name} #{user.last_name}" %>
										<% end %>
										<h4><b><%= announcee %></b> wrote for <b><%= target %></b></h4>
										<%= a.text.html_safe %>
									</div>
								<% end %>
							<% end %>
						<% end %>
						<!-- END: LISTING ANNOUNCEMENTS-->

						<!-- LISTING INVITATIONS-->
						<% if !@invitations.nil? %>
							<% if @invitations.empty? %>
								<p>You have no invitations</p>
							<% else %>
								<% @invitations.each do |a| %>
									<div class="invitations-entry-wrapper">
										<p>You are invited to host the event <%= (Event.find_by(id: a.event_id)).name %>, accept?</p>
										<%= link_to "Yes", {controller: 'events', action: 'acceptEvent', :event_id => a.event_id, :society_id => a.society_id, :inv_id => a.id}, method: 'post' %> 
										<%= link_to "No", {controller: 'events', action: 'declineEvent', :event_id => a.event_id, :society_id => a.society_id, :inv_id => a.id}, method: 'post' %>
									</div>
								<% end %>
							<% end %>
						<% end %>
						<!-- END: LISTING INVITATIONS-->
						
						<!-- LISTING SOCIETIES-->
						<% if !@societies.nil? %>
							<% if params[:state] == "search" %>
								<h1>Societies</h1>
							<% end %>
							<% if @societies.empty? %>
								<p>No societies in this category.</p>
							<% else %>
								<div class="grid-entry-wrapper">
								<% @societies.each do |s| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag(s.logo) %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= s.name %>
													<% if user_signed_in? %>
														<% if !(SocietyFollower.find_by(user_id: current_user.id, society_id: s.id)).nil? %>
															<span class="glyphicon glyphicon-ok" style="color:#2B804F"></span>
														<% end %>
													<% end %>
												</h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<%= (s.short_description).html_safe %>
											</div>
											<div class="grid-entry-label-btns">
												<% if user_signed_in? %>
													<% if (SocietyFollower.find_by(user_id: current_user.id, society_id: s.id)).nil? %>
														<%= link_to({controller: "users", action: 'followSociety', :societyId => s.id}) do %>
															<span class="glyphicon glyphicon-star">Follow</span>
														<% end %>
													<% else %>
														<%= link_to({controller: "users", action: 'unfollowSociety', :societyId => s.id}) do %>
															<span class="glyphicon glyphicon-star-empty">Unfollow</span>
														<% end %>
													<% end %>
												<% end %>
												<%= link_to("Go To Page", {controller: 'societies', action: 'show', id: s.id}) %>
											</div>
										</div>
									</div>
								<% end %>
								</div>
							<% end %>

						<% end %>
						<!-- END: LISTING SOCIETIES-->
						
						<!-- LISTING PAST EVENTS-->
						<% if !@pastEvents.nil? %>
							<% if params[:state] == "search" %>
								<h1>Past Events</h1>
							<% end %>
							<% if @pastEvents.empty? %>
								<p>No events in this category.</p>
							<% else %>
								<div class="grid-entry-wrapper">
								<% @pastEvents.each do |event| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag event.image1 %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= event.name %></h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<p><%= event.start_time %> to <%= event.end_time %></p>
												<p><%= event.short_description %></p>
											</div>
											<div class="grid-entry-label-btns">
												<%= link_to("Go To Page", {controller: 'events', action: 'show', id: event.id}) %>
											</div>
										</div>
									</div>
								<% end %>
								</div>
							<% end %>
						<% end %>
						<!-- END: LISTING PAST EVENTS-->

						<!-- LISTING UPCOMING EVENTS-->
						<% if !@upcomingEvents.nil? %>
							<% if params[:state] == "search" %>
								<h1>Upcoming Events</h1>
							<% end %>
							<% if @upcomingEvents.empty? %>
								<p>No events in this category.</p>
							<% else %>
								<div class="grid-entry-wrapper">
								<% @upcomingEvents.each do |s| %>
									<div class="grid-entry">
										<div class="grid-entry-img">
											<%= image_tag s.image1 %>
										</div>
										<div class="grid-entry-label">
											<div class="grid-entry-label-hdr">
												<h2><%= s.name %></h2>
												<p>University of Melbourne</p><br>
											</div>
											<div class="grid-entry-label-content">
												<p><%= s.start_time %> to <%= s.start_time %></p>
												<p><%= s.short_description %></p>
											</div>
											<div class="grid-entry-label-btns">
												<% tickets_left = (s.max_tickets) - (EventFollower.where(event_id: s.id)).size %>
												<% if tickets_left > 0%>
													<%= link_to({controller: "users", action: 'followSociety'}, :societyId => s.id) do %>
														<span class="glyphicon glyphicon-star">Follow</span>
													<% end %>
												<% else %>
													<%= link_to("Sold out") %>
												<% end %>
												<%= link_to("Go To Page", {controller: 'events', action: 'show', id: s.id}) %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<% end %>
						<% end %>
						<!-- END: LISTING UPCOMING EVENTS-->

						<!-- LISTING CATEGORIES -->
						<% if !@categories.nil? %>
							<% if params[:state] == "search" %>
								<h1>Categories</h1>
							<% end %>
							<% @categories.each do |cat| %>
								<%= link_to cat.name,{ :state => params[:state], :catId => cat.id }, class: "category-entry" %>
							<% end %>
						<% end %>
						<!-- END: LISTING CATEGORIES -->

						<!-- LISTING UNIVERSITIES -->
						<% if !@universities.nil? %>
							<% if params[:state] == "search" %>
								<h1>Universities</h1>
							<% end %>
							<% @universities.each do |uni| %>
								<%= link_to({ :state => params[:state], :uniId => uni.id }, class: "university-entry") do %>
									<% image_tag uni.logo %>
								<% end %>
							<% end %>
						<% end %>
						<!-- END: LISTING UNIVERSITIES -->

					</div>
				</div>
			</div>
			<!-- END: Grid Contents -->
		</div>
	</section>
	<!-- END: Page Two -->
</div>

