<script type="text/javascript">
  <% if !@admin_emails.nil? %>
    $(document).ready(function(){
      <% @admin_emails.each do |ae| %>
        $('#admin').addTag("<%= ae %>");
      <% end %>
    });
  <% end %>
</script>

<%= tinymce %>
<%= form_for(@society, :multipart => true) do |f| %>

  <% if @society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% @society.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="name" align="middle">
    <%= f.text_field :name, :placeholder => "Name", :size => "161" %>
  </div>
  <br>
  <div class="university" align="middle">
    <p><strong>University</strong></p>
    <%= f.collection_select(:university_id, University.find(:all), :id, :name, :prompt => "Please select") %>
  </div>
  <br>
  <div class="category" align="middle">
    <p><strong>Category</strong></p>
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, :prompt => "Please select") %>
  </div>
  <br>

  <br>
  <div class="logo" align="middle">
    <%= f.label :logo  %><br>
    <%= f.file_field :logo %>
  </div>
  <br>
  <div class="admin" align="middle">
    <p><strong>Admin</strong></p>
    <%= text_area_tag :admin %>
  </div>
  <br>
  <div class="description" align="middle">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "tinymce", :id => "desc", :placeholder => "Description" %>

  </div>
  <br>
  <div class="short_description" align="middle">
    <%= f.text_area :short_description, :rows => 10, :cols => 163, :placeholder => "Short Description" %>
  </div>
  <br>
  <div class="website" align="middle">
    <%= f.text_field :website, :placeholder => "Website" , :size => "161" %>
  </div>
  <br>
  <div class="email" align="middle">
    <%= f.text_field :email , :placeholder => "Email" , :size => "161"%>
  </div>
  <br>
  <div class="phone_number" align="middle">
    <%= f.text_field :phone_number , :placeholder => "Phone Number" , :size => "161"%>
  </div>
  <br>
  <p align="middle"><strong>Office</strong></p>
  <div class="office">
  <div class="office_state" align="middle">
    <%= f.select :office_state, options_for_select(['NSW', 'QLD', 'VIC', 'SA','TAS','WA'], :prompt => "State") %>
  </div>
  <br>
  <div class="office_address_line1">
    <%= f.text_field :office_address_line1 , :placeholder => "Address Line 1", :size => "161" %>
  </div>
  <br>
  <div class="office_address_line2">
    <%= f.text_field :office_address_line2 , :placeholder => "Address Line 2" ,:size => "161" %>
  </div>
  <br>
  <div class="office_city">
    <%= f.text_field :office_city , :placeholder => "City" , :size => "161"%>
  </div>
  <br>
  <div class="office_postcode">
    <%= f.text_field :office_postcode , :placeholder => "Postcode" , :size => "161"%>
  </div>
</div>
 <br>
  <div class="actions" align="middle">
    <%= f.submit %>
  </div>
<% end %>
