<%= tinymce %>
<%= form_for(@society) do |f| %>
  <% if @society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% @society.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="logo">
    <%= f.label :logo  %><br>
    <%= f.file_field :logo %>
  </div>

  <div class="description">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 10, :cols => 4, :class => "tinymce", :id => "desc" %>

  </div>

  <div class="short_description">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description, :rows => 10, :cols => 4, :class => "tinymce", :id => "srt_desc" %>
  </div>

  <div class="website">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <div class="university">
    <%= f.label :university %><br>
    <%= f.text_field :university %>
  </div>

  <div class="office_address_line1">
    <%= f.label :office_address_line1 %><br>
    <%= f.text_field :office_address_line1 %>
  </div>

  <div class="office_address_line2">
    <%= f.label :office_address_line2 %><br>
    <%= f.text_field :office_address_line2 %>
  </div>

  <div class="office_state">
    <%= f.label :office_state %><br>
    <%= f.text_field :office_state %>
  </div>

  <div class="office_city">
    <%= f.label :office_city %><br>
    <%= f.text_field :office_city %>
  </div>

  <div class="office_postcode">
    <%= f.label :office_postcode %><br>
    <%= f.text_field :office_postcode %>
  </div>

  <div class="email">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="phone_number">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
