<style type="text/css">
	html, body {
		overflow: hidden;
		height: 100%;
	}
</style>
<div class="society-card">
	<div class="left-desc">
		<div class="society-logo">
			<%= image_tag @society.logo %>
		</div>
		<div class="follow-btn-wrapper">
			<% if !current_user.nil? %>
				<% if (SocietyFollower.find_by(user_id: current_user.id, society_id:@society.id)).nil? %>
					<%= link_to({controller: "users", action: 'followSociety', :societyId => @society.id}) do %>
						<span class="glyphicon glyphicon-star">Follow</span>
					<% end %>
				<% else %>
					<%= link_to({controller: "users", action: 'unfollowSociety', :societyId => @society.id}) do %>
						<span class="glyphicon glyphicon-star-empty">Unfollow</span>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="society-desc">
		<h1 class="title"><%= @society.name %><a href=<%= @society.website %>>  <span class="glyphicon glyphicon-new-window"></span></a></h1>
		<p class="subtitle"><%= University.find_by(id: @society.university_id) %></p>
		<% if user_signed_in? %>
			<% if !(SocietyAdmin.where(user_id: current_user, society_id: @society.id)).empty? %>
				<%= link_to "Edit Content", {action: 'edit'} %>
			<% end %>
		<% end %>
		<p><%= (@society.short_description).html_safe %></p>

		<p><b>Email: </b> <%= @society.email %></p>
		<p><b>Phone Number: </b> <%= @society.phone_number %></p>

		<h4>Description</h4>
		<p><%= (@society.description).html_safe %></p>
		<h4>Office Address</h4>
		<p><%= @society.office_address_line1 %><br>
		<%= @society.office_address_line2 %><br>
		<%= @society.office_city %><br>
		<%= @society.office_state %> <%= @society.office_postcode %></p>
	</div>
</div>

<!-- TABS -->
<div class="tabs">
	<div class="tab st0" style='background-color: lightgrey;'>
		<p><span class="glyphicon glyphicon-bullhorn"></span> Announce</p>
	</div>
	<div class="tab st1" style='background-color: #C4CDCD;'>
		<p><span class="glyphicon glyphicon-calendar"></span> Events</p>
	</div>
	<div class="tab st2" style='background-color: #97A0A9;'>
		<p><span class="glyphicon glyphicon-camera"></span> Gallery</p>
	</div>
	<div class="tab st3" style='background-color: #74D7C4;'>
		<p><span class="glyphicon glyphicon-comment"></span> Feedbacks</p>
	</div>
	<div class="tab st4" style='background-color: #A6C0D1;'>
		<p><span class="glyphicon glyphicon-user"></span> Followers</p>
	</div>
	<div class="tab st5" style='background-color: #F8C471;'>
		<p><span class="glyphicon glyphicon-globe"></span> Networks</p>
	</div>
</div>
<!-- END: TABS -->


<!-- TAB CONTENTS -->
<div class="tab-pages">

	<!-- Announcements -->
	<div class="tab-page st0" style='background-color: lightgrey;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<h1>Announcements</h1>
			<% if !@announcements.nil? %>
				<% if @announcements.empty? %>
					<p>This society does not have any announcements</p>
				<% else %>
					<% @announcements.each do |a| %>
						<div class="announce-entry-wrapper">
							<h4><b><%= (User.find_by(id: a.user_id)).first_name %></b> wrote:</h4>
							<%= a.text.html_safe %>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<!-- END: Announcements -->

	<!-- EVENTS -->
	<div class="tab-page st1" style='background-color: #C4CDCD;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<div class="upcoming-eve-wrapper">
				<h1>Upcoming Events</h1>
				<% if @upcomingEvents.empty? %>
					<p>No entry in this category.</p>
				<% else %>
					<% @upcomingEvents.each do |eve| %>
						<div class="entry">
							<div class="img-wrapper">
								<%= image_tag eve.image1 %>	
							</div>
							<div class="entry-title">
								<%= link_to eve.name, {controller: "events", action: "show", id: eve.id} %></a>
							</div>

							<% if (EventFollower.find_by(user_id: current_user.id, event_id:eve.id)).nil? %>
								<div class="entry-follow-wrapper follow">
									<%= link_to({controller: "users", action: 'followEvent', :eventId => eve.id}) do %>
										<span class="glyphicon glyphicon-star"></span>
									<% end %>
								</div>

							<% else %>
								<div class="entry-follow-wrapper unfollow">
									<%= link_to({controller: "users", action: 'unfollowEvent', :eventId => eve.id}) do %>
										<span class="glyphicon glyphicon-star-empty"></span>
									<% end %>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="past-eve-wrapper">
				<h1>Past Events</h1>
				<% if @pastEvents.empty? %>
					<p>No entry in this category.</p>
				<% else %>
					<% @pastEvents.each do |eve| %>
						<div class="entry">
							<div class="img-wrapper">
								<%= image_tag eve.image1 %>	
							</div>
							<div class="entry-title">
								<%= link_to eve.name, {controller: "events", action: "show", id: eve.id} %></a>
							</div>
							<% if !current_user.nil? %>
								<% if (EventFollower.find_by(user_id: current_user.id, event_id:eve.id)).nil? %>
									<div class="entry-follow-wrapper follow">
										<%= link_to({controller: "users", action: 'followEvent', :eventId => eve.id}) do %>
											<span class="glyphicon glyphicon-star"></span>
										<% end %>
									</div>

								<% else %>
									<div class="entry-follow-wrapper unfollow">
										<%= link_to({controller: "users", action: 'unfollowEvent', :eventId => eve.id}) do %>
											<span class="glyphicon glyphicon-star-empty"></span>
										<% end %>
									</div>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<!-- END: EVENTS -->

	<!-- GALLERY -->
	<div class="tab-page st2" style='background-color: #97A0A9;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			
			<div class="image-entry">
				<%= image_tag @society.logo %>
				<p class="image-caption">Logo</p>
			</div>
			<% (SocietyEvent.where(society_id: @society.id)).each do |se| %>
				<% event = Event.find_by(id: se.event_id) %>
				<% if (event.image1).present? %>
					<div class="image-entry">
						<%= image_tag event.image1 %>
						<p class="image-caption"><%= (Event.find_by(id: se.event_id)).name %></p>
					</div>
					<% if (event.image2).present? %>
						<div class="image-entry">
							<%= image_tag event.image2 %>
							<p class="image-caption"><%= (Event.find_by(id: se.event_id)).name %></p>
						</div>
						<% if (event.image3).present? %>
							<div class="image-entry">
								<%= image_tag event.image3 %>
								<p class="image-caption"><%= (Event.find_by(id: se.event_id)).name %></p>
							</div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<!-- END: GALLERY -->

	<!-- FEDDBACKS -->
	<div class="tab-page st3" style='background-color: #74D7C4;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<h1>Any Comments?</h1>
			<%= form_tag({controller: "societies", action: "addFeedback"}, class:"feedback-form") do %>
				<%= text_area_tag(:fb) %>
				<%= hidden_field_tag(:id, @society.id) %>
				<%= submit_tag("Post", class: "btn btn-default btn-lg") %>
			<% end %>
			<h1>All Comments</h1>
			<div class="feedback-container">
				<% (SocietyFeedback.where(society_id: @society.id)).each do |sf| %>
					<div class="feedback-entry">
						<h4><%= (User.find_by(id: sf.user_id)).first_name %> <%= (User.find_by(id: sf.user_id)).last_name %></h4>
						<p><%= sf.text %></p>
					</div>
						
				<% end %>
			</div>
		</div>
	</div>
	<!-- END: FEDDBACKS -->

	<!-- FOLLOWERS -->
	<div class="tab-page st4" style='background-color: #A6C0D1;' style="color:grey;">
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<% (SocietyFollower.where(society_id: @society.id)).each do |sf| %>
				<div class="follower-usr-entry">
					<div class="follower-usr-img-wrapper">
						<%= image_tag (User.find_by(id: sf.user_id)).photo %>
					</div>
					<h3><%= (User.find_by(id: sf.user_id)).first_name %> <%= (User.find_by(id: sf.user_id)).last_name %></h3>
				</div>
			<% end %>
		</div>
	</div>
	<!-- END: FOLLOWERS -->
</div>
<!-- END: TAB CONTENTS -->