<%= tinymce %>
<%= form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="description">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 10, :cols => 4, :class => "tinymce", :id => "desc" %>

  </div>
  <div class="image">
    <%= f.label :image  %><br>
    <%= f.file_field :image %>
  </div>

  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
