<%= tinymce%>
<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="subject">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>

  <div class="text">
    <%= f.label :text %><br>
    <%= f.text_area :text, :rows => 10, :cols => 4, :class => "tinymce", :id => "desc" %>
  </div>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <% if !(UniversityAdmin.where(user_id = current_user.id).empty?) %>
    <% @universityAdmin = UniversityAdmin.where(user_id: current_user.id)%>
    <% ary = [] %>
    <% @universityAdmin.each do |ua| %>
      <% ary << ua.university_id %>
    <% end %>
    <%= f.collection_select :university_id, University.find(ary),:id, :name %>
  <% end %>
  <% if !(SocietyAdmin.where(user_id = current_user.id).empty?) %>
    <%= f.fields_for :SocietyAnnouncement do |builder|  %>
      <%= builder.collection_select :society_id, SocietyAdmin.where(user_id = current_user.id) %>
    <% end %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
  
  
<% end %>
