<!DOCTYPE html>
<html>
<head>
  <title>TheclubbizWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Navigation Bar -->
	<div id="navbar">
		<div id="nav-brand">
			<%= link_to 'The Club Biz', controller:'welcome', action:'index' %>
		</div>
		
		<ul id="nav-menu">
			<li><%= link_to 'Browse', '/welcome/index/#2' %></li>
			<li><%= link_to 'About Us', action: 'aboutUs' %></li>
		</ul>
		<div id="nav-search-container">
			<%= form_tag controller: 'welcome', :method => 'get' do %>
				<%= text_field_tag :search, params[:search], id: "nav-search-field" %>
				<%= button_tag(type: "button", id: "nav-search-btn") do %>
					<span class="glyphicon glyphicon-search"></span>
				<% end %>
			<% end %>
		</div>
		
		<div id="nav-log-add">
			<button class="btn btn-primary btn-lg log-add-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span></button>
		</div>
	</div>



	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Login</h4>
	      		</div>
	      		<div class="modal-body">
	      			<%= form_for :login do |f| %>
						<%= f.text_field :email, placeholder: "Email" %>
						<%= f.password_field :password, placeholder: "Password" %>
	      		</div>
	      		<div class="modal-footer">
	      				<%= f.submit "Log In" , class: "btn btn-default modal-btn" %>
	      			<% end %>
	      			<%= button_tag "Register", controller: "user", action: "new", class: "btn btn-primary modal-btn" %>
	        		
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<%= yield %>

</body>
</html>
