<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="name">
    <%= f.text_field :name %>
  </div>

  <div class="start-time">
    <%= f.label :start_time %><br>
    <%= f.datetime_select(:start_time, :start_year => Date.today.year, ampm: true) %>
  </div>

  <div class="end-time">
    <%= f.label :end_time %><br>
    <%= f.datetime_select(:start_time, :start_year => Date.today.year, ampm: true) %>
  </div>

  <div class="location_address_line1">
    <%= f.label :location_address_line1 %><br>
    <%= f.text_field :location_address_line1 %>
  </div>

  <div class="location_address_line2">
    <%= f.label :location_address_line2 %><br>
    <%= f.text_field :location_address_line2 %>
  </div>

  <div class="location_state">
    <%= f.label :location_state %><br>
    <%= f.text_field :location_state %>
  </div>

  <div class="location_city">
    <%= f.label :location_city %><br>
    <%= f.text_field :location_city %>
  </div>

  <div class="location_postcode">
    <%= f.label :location_postcode %><br>
    <%= f.text_field :location_postcode %>
  </div>

  <div class="website">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  <div class="max_tickets">
    <%= f.label :max_tickets %><br>
     <%= f.select :max_tickets, (0..10000) %>
  </div>

  <div class="max_tickets">
    <%= f.label :max_tickets %><br>
     <%= f.select :max_tickets, (0..10000) %>
  </div>

 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
