<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="name">
    <%= f.text_field :name, :placeholder => "Event's Name" %>
  </div>
  <br>
  <div class="society">
    <%= collection_select(:society, :id, Society.all, :id, :name, :prompt => "Society") %>
  </div>
  <br>
  <div class="category">
    <%= f.collection_select(:category_id, Category.find(:all), :id, :name, :prompt => "Category") %>
  </div>
  <br>
  <div class="image">
    <p>Image</p>
    <%= f.file_field :image1 %>
    <br>
    <%= f.file_field :image2 %>
    <br>
    <%= f.file_field :image3 %>
  </div>
  <br>
  <div class="start-time">
    <%= f.label :start_time %><br>
    <%= f.datetime_select(:start_time, :start_year => Date.today.year, ampm: true) %>
  </div>

  <div class="end-time">
    <%= f.label :end_time %><br>
    <%= f.datetime_select(:end_time, :start_year => Date.today.year, ampm: true) %>
  </div>
  <br>
  <div class="location_address_line1">
    <%= f.text_field :location_address_line1, :placeholder => "Location line 1" %>
  </div>
  <br>
  <div class="location_address_line2">
    <%= f.text_field :location_address_line2, :placeholder => "Location line 2" %>
  </div>
  <br>
  <div class="location_state">
    <%= f.label :location_state %><br>
    <%= f.select :location_state, options_for_select(['NSW', 'QLD', 'VIC', 'SA','TAS','WA']) %>
  </div>
  <br>
  <div class="location_city">
    <%= f.text_field :location_city, :placeholder => "City" %>
  </div>
  <br>
  <div class="location_postcode">
    <%= f.text_field :location_postcode, :placeholder => "Postcode" %>
  </div>
  <br>
  <div class="website">
    <%= f.text_field :website, :placeholder => "Website" %>
  </div>
  <br>
  <div class="max_tickets">
    <%= f.label :max_tickets %><br>
     <%= f.select :max_tickets, (0..10000) %>
  </div>
  <br>
  <div class="ticket_price">
    <%= f.label :ticket_price %>
    <%= f.text_field :ticket_price %>
  </div>

 <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
