<style type="text/css">
	html, body {
		overflow: hidden;
		height: 100%;
	}
</style>

<div class="onpage">
	<div class="event-card">
		<div class="left-desc">
			<!-- EVENT IMAGE -->
			<div class="event-logo">
				<%= image_tag @event.image1 %>
			</div>
			<!-- END: EVENT IMAGE -->

			<!-- (UN)FOLLOW BUTTON -->
			<div class="follow-btn-wrapper">
				<% if !current_user.nil? %>
					<% if (EventFollower.find_by(user_id: current_user.id, event_id:@event.id)).nil? %>
						<%= link_to({controller: "users", action: 'followEvent', :eventId => @event.id}) do %>
							<span class="glyphicon glyphicon-star">Follow</span>
						<% end %>
					<% else %>
						<%= link_to({controller: "users", action: 'unfollowEvent', :eventId => @event.id}) do %>
							<span class="glyphicon glyphicon-star-empty">Unfollow</span>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<!-- END: (UN)FOLLOW BUTTON -->
		</div>

		<div class="event-desc">
			<!-- EVENT DESCRIPTION -->
			<h1 class="title"><%= @event.name %><a href=<%= @event.website %>>  <span class="glyphicon glyphicon-new-window"></span></a></h1>
			<p class="subtitle">Hosted by: 
				<% (SocietyEvent.where(event_id: @event.id)).each do |se| %>
					<%= (Society.find_by(id: se.society_id)).name %>
				<% end %>
			</p>
			<%= link_to "Edit Content", {action: 'edit'} %>
			<!-- END: EVENT DESCRIPTION -->
		</div>
	</div>

	<!-- TABS -->
	<div class="event-tabs">
		<div class="tab st1" style='background-color: #97A0A9;'>
			<p><span class="glyphicon glyphicon-camera"></span> Gallery</p>
		</div>
		<div class="tab st2" style='background-color: #74D7C4;'>
			<p><span class="glyphicon glyphicon-comment"></span> Feedbacks</p>
		</div>
		<div class="tab st3" style='background-color: #A6C0D1;'>
			<p><span class="glyphicon glyphicon-user"></span> Going</p>
		</div>
	</div>
	<!-- END: TABS -->
</div>


<!-- TAB CONTENTS -->
<div class="event-tab-pages">

	
	<!-- GALLERY -->
	<div class="tab-page st1" style='background-color: #97A0A9;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<div class="image-entry">
				<%= image_tag @event.image1 %>
				<p class="image-caption"></p>
			</div>
			<% if !((@event.image2).nil?) %>
				<div class="image-entry">
					<%= image_tag @event.image2 %>
					<p class="image-caption"></p>
				</div>
				<% if !((@event.image3).nil?) %>
					<div class="image-entry">
						<%= image_tag @event.image3 %>
						<p class="image-caption"></p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<!-- END: GALLERY -->

	<!-- FEEDBACKS -->
	<div class="tab-page st2" style='background-color: #74D7C4;'>
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<h1>Any Comments?</h1>
			<%= form_tag({controller: "events", action: "addFeedback"}, class:"feedback-form") do %>
				<%= text_area_tag(:fb) %>
				<%= hidden_field_tag(:id, @event.id) %>
				<%= submit_tag("Post", class: "btn btn-default btn-lg") %>
			<% end %>
			<h1>All Comments</h1>
			<div class="feedback-container">
				<% (EventFeedback.where(event_id: @event.id)).each do |sf| %>
					<div class="feedback-entry">
						<h4><%= (User.find_by(id: sf.user_id)).first_name %> <%= (User.find_by(id: sf.user_id)).last_name %></h4>
						<p><%= sf.text %></p>
					</div>
						
				<% end %>
			</div>
		</div>
	</div>
	<!-- END: FEEDBACKS -->

	<!-- FOLLOWERS -->
	<div class="tab-page st3" style='background-color: #A6C0D1;' style="color:grey;">
		<div class="exit"><span class="glyphicon glyphicon-remove"></span></div>
		<div class="tab-page-content">
			<% (EventFollower.where(event_id: @event.id)).each do |sf| %>
				<div class="follower-usr-entry">
					<div class="follower-usr-img-wrapper">
						<%= image_tag (User.find_by(id: sf.user_id)).photo %>
					</div>
					<h3><%= (User.find_by(id: sf.user_id)).first_name %> <%= (User.find_by(id: sf.user_id)).last_name %></h3>
				</div>
			<% end %>
		</div>
	</div>
	<!-- END: FOLLOWERS -->

</div>
<!-- END: TAB CONTENTS -->